# Lagged raster point sampling

### Description of the datasets

We have a point dataset, in the form of a CSV file with lat/lon columns. 

Each row in the dataset represents a household as surveyed at a point in time, given by reference_month and reference_location. (In this instance the data are extracted from DHS household surveys.)

Each household has a location (lat/lon) but many households are at the same location (for anonymity); the location is known as a cluster and is unique by surveyid and cluster_number. 

Most but not necessarily all households at the same location (cluster) in a survey will be surveyed in the same month.

We have a folder of rasters which represent monthly data for a single variable of interest (i.e. one raster per month). These are named such that the filename contains the month in the form `*YYYY.MM*` i.e. 4 digits then a dot then 2 digits.

### Description of the task

For each household we want to generate a time series of raster values for the 12 months prior to the survey date, and the survey date. That is, we need to sample 13 rasters, corresponding to the reference month/year, and each of the 12 preceding months, and eventually output a table that is like the input with 13 additional columns for the values at month 0, month -1, month -2 etc.

In [148]:
import pandas as pd
import numpy as np

### Sample of the data
In these first few rows the households (hhid) within the cluster are all sampled in the same month but this isn't always true.
Note that the hhid is as taken from the source data and consists of numbers and spaces - the values should not be .trim()ed as this could break joining downstream.

In [2]:
df = pd.read_csv('peak_urban_ssa_hh_coords_ET-fix.csv', 
                 usecols=['surveyid','cluster_number','hhid','reference_month','reference_year','lat','lon'])
df.head()

,surveyid,cluster_number,hhid,reference_month,reference_year,lat,lon
0,211,1,117,10,2001,10.84476,2.109562
1,211,1,1 1,10,2001,10.84476,2.109562
2,211,1,1 2,10,2001,10.84476,2.109562
3,211,1,1 3,10,2001,10.84476,2.109562
4,211,1,1 4,10,2001,10.84476,2.109562

In [25]:
df.dtypes

surveyid             int64
cluster_number       int64
hhid                object
reference_month      int64
reference_year       int64
lat                float64
lon                float64
dtype: object

### Generating the sample dates for each row

For passing to the raster sampler we will ultimately need a long-format table (stacked), one row for each location / hh / lag combination, i.e. in the case of 12 months lag, 13 rows for each input row.

It seems strangely hard to define a way in pandas to apply a function that converts each row into multiple rows.

Instead we will add the lags to each row (wide format).

In [3]:
from datetime import date
from dateutil.relativedelta import relativedelta

In [4]:
N_MONTHS = 12
ONE_MONTH = relativedelta(months=1)
        
def add_lags_to_row(row):
    yr = row['reference_year']
    mth = row['reference_month']
    feat_date = date(yr, mth, 1)
    new_rows = []
    for i in range(N_MONTHS + 1):
        lag_date = feat_date - i * ONE_MONTH
        lag_y = lag_date.year
        lag_m = lag_date.month
        row[f'lag_n{i}'] = i
        row[f'lag_yr{i}'] = lag_y
        row[f'lag_m{i}'] = lag_m
    return row

In [77]:
df_test = df.head(20)

In [79]:
wide_df_test = df_test.apply(add_lags_to_row, axis=1)
wide_df_test['id'] = wide_df_test.index
wide_df_test.head()

,surveyid,cluster_number,hhid,reference_month,reference_year,lat,lon,lag_n0,lag_yr0,lag_m0,...,lag_n10,lag_yr10,lag_m10,lag_n11,lag_yr11,lag_m11,lag_n12,lag_yr12,lag_m12,id
0,211,1,117,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,0
1,211,1,1 1,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,1
2,211,1,1 2,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,2
3,211,1,1 3,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,3
4,211,1,1 4,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,4

This is pretty slow due to all those lookups and python loops on each row. So we'll parallelise it. 

Tried dask which I've not used before; didn't quite get there, would need to redefine the mapped function to expect series I think

In [59]:
import dask.dataframe as dd
from dask.multiprocessing import get

In [66]:
ddata = dd.from_pandas(df, npartitions=100)
#df.compute(get=dask.threaded.get, num_workers=20)
def apply_lagger_to_DF(df): return df.apply((lambda row: add_lags_to_row(**row)), axis=1)
wide_df = ddata.map_partitions(apply_lagger_to_DF).compute(get=get, num_workers=25)

ValueError: Metadata inference failed in `apply_lagger_to_DF`.

You have supplied a custom function and Dask is unable to
determine the type of output that that function returns.

To resolve this please provide a meta= keyword.
The docstring of the Dask function you ran should have more information.

Original error is below:
------------------------
TypeError("add_lags_to_row() got an unexpected keyword argument 'surveyid'")

Traceback:
---------
  File "/home/harry/anaconda3/envs/geodev_38/lib/python3.8/site-packages/dask/dataframe/utils.py", line 174, in raise_on_meta_error
    yield
  File "/home/harry/anaconda3/envs/geodev_38/lib/python3.8/site-packages/dask/dataframe/core.py", line 5165, in _emulate
    return func(*_extract_meta(args, True), **_extract_meta(kwargs, True))
  File "<ipython-input-66-b25f5a7882aa>", line 3, in apply_lagger_to_DF
    def apply_lagger_to_DF(df): return df.apply((lambda row: add_lags_to_row(**row)), axis=1)
  File "/home/harry/anaconda3/envs/geodev_38/lib/python3.8/site-packages/pandas/core/frame.py", line 7548, in apply
    return op.get_result()
  File "/home/harry/anaconda3/envs/geodev_38/lib/python3.8/site-packages/pandas/core/apply.py", line 180, in get_result
    return self.apply_standard()
  File "/home/harry/anaconda3/envs/geodev_38/lib/python3.8/site-packages/pandas/core/apply.py", line 271, in apply_standard
    results, res_index = self.apply_series_generator()
  File "/home/harry/anaconda3/envs/geodev_38/lib/python3.8/site-packages/pandas/core/apply.py", line 300, in apply_series_generator
    results[i] = self.f(v)
  File "<ipython-input-66-b25f5a7882aa>", line 3, in <lambda>
    def apply_lagger_to_DF(df): return df.apply((lambda row: add_lags_to_row(**row)), axis=1)

Pandarallel is much more straightforward for this case. 

Install the jupyter widgets extension for progress bars if necessary (https://github.com/nalepae/pandarallel) first

In [237]:
from pandarallel import pandarallel

Limit workers to 25 so as not to take over server (72 cores); can use memory fs as server has large allocation

In [6]:
pandarallel.initialize(nb_workers=25, progress_bar=True, use_memory_fs=True)

INFO: Pandarallel will run on 25 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [7]:
wide_df  = df.parallel_apply(add_lags_to_row, axis=1)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=27995), Label(value='0 / 27995')))…

Still takes a while, so checkpoint:

In [10]:
wide_df.to_csv('peak_urban_hh_lags_wide_all.csv')

In [27]:
wide_df.to_parquet('peak_urban_hh_lags_wide_all', compression='GZIP')

In [13]:
wide_df['id'] = wide_df.index

In [14]:
wide_df.head()

,surveyid,cluster_number,hhid,reference_month,reference_year,lat,lon,lag_n0,lag_yr0,lag_m0,...,lag_n10,lag_yr10,lag_m10,lag_n11,lag_yr11,lag_m11,lag_n12,lag_yr12,lag_m12,id
0,211,1,117,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,0
1,211,1,1 1,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,1
2,211,1,1 2,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,2
3,211,1,1 3,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,3
4,211,1,1 4,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,4

Use the super-handy wide_to_long function to stack / pseudo-normalise this output to have one row per unique combination of location, time (raster) and how many lag months this time is for this household.

In [16]:
melted = pd.wide_to_long(wide_df, ['lag_n','lag_m', 'lag_yr'], i=['id'], j='thing')
melted.head(5)

,,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,lag_n,lag_m,lag_yr
id,thing,,,,,,,,,,
0,0,1,211,10.84476,2.109562,117,2001,10,0,10,2001
1,0,1,211,10.84476,2.109562,1 1,2001,10,0,10,2001
2,0,1,211,10.84476,2.109562,1 2,2001,10,0,10,2001
3,0,1,211,10.84476,2.109562,1 3,2001,10,0,10,2001
4,0,1,211,10.84476,2.109562,1 4,2001,10,0,10,2001

This will have duplicates where multiple households in the same location (cluster) are interviewed in the same month (which is the norm).

We could use this df directly for the raster sampling, but it'll be more efficient to get rid of the duplicates in this dimension to cut down raster sampling (maybe).

In [19]:
extract_pts = melted.drop_duplicates(subset=['cluster_number', 'surveyid', 'lag_n', 'lag_yr', 'lag_m', 'lag_yr'])
extract_pts.head()

,,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,lag_n,lag_m,lag_yr
id,thing,,,,,,,,,,
0,0,1,211,10.844760,2.109562,117,2001,10,0,10,2001
17,0,2,211,10.685410,1.074763,2 8,2001,7,0,7,2001
21,0,2,211,10.685410,1.074763,2 4,2001,8,0,8,2001
34,0,3,211,10.613593,1.273059,3 2,2001,8,0,8,2001
46,0,4,211,10.512361,0.945930,4 1,2001,8,0,8,2001

We will use rasterio to handle the sampling

In [39]:
import rasterio as rio
from rasterio import RasterioIOError

Define a function that will take a dataframe or rather sub-set of one with a common month and year for extraction, and extract the matching raster for all these point locations.
The month and year will be taken from the first row of the group and we're not currently checking they are the same across the passed data. Data path is hardcoded here for now

In [238]:
def extract_raster_vals(grp):
    coords = list(zip(grp['lon'], grp['lat']))
    firstrow = grp.iloc[0]
    req_yr = str(firstrow['lag_yr'])
    req_m = str(firstrow['lag_m']).zfill(2)
    #rastername = f'no2/temis_omi_no2.{req_yr}.{req_m}.tif'
    rastername = f'no2/temis_omi_no2.{req_yr}.{req_m}.tif'
    print(f"Trying {rastername} for {grp.shape[0]} points")
    #print(coords)
    try:
        with rio.open(rastername) as src:
            grp['rasterval'] = [x[0] for x in src.sample(coords, masked=True)]
    except RasterioIOError:
        grp['rasterval'] = ''
    return grp

Use groupby to call the function for each yr/mth subset of the data in turn

In [226]:
sampled = extract_pts.loc[pd.notnull(extract_pts.lat)].groupby(['lag_m','lag_yr']).apply(extract_raster_vals)

Trying no2/temis_omi_no2.2001.01.tif for 276 points
Trying no2/temis_omi_no2.2005.01.tif for 1145 points
Trying no2/temis_omi_no2.2006.01.tif for 1113 points
Trying no2/temis_omi_no2.2007.01.tif for 1112 points
Trying no2/temis_omi_no2.2008.01.tif for 2666 points
Trying no2/temis_omi_no2.2009.01.tif for 332 points
Trying no2/temis_omi_no2.2010.01.tif for 3216 points
Trying no2/temis_omi_no2.2011.01.tif for 2367 points
Trying no2/temis_omi_no2.2012.01.tif for 1916 points
Trying no2/temis_omi_no2.2013.01.tif for 2687 points
Trying no2/temis_omi_no2.2014.01.tif for 4461 points
Trying no2/temis_omi_no2.2015.01.tif for 3901 points
Trying no2/temis_omi_no2.2016.01.tif for 4018 points
Trying no2/temis_omi_no2.2017.01.tif for 849 points
Trying no2/temis_omi_no2.2018.01.tif for 3768 points
Trying no2/temis_omi_no2.2019.01.tif for 3 points
Trying no2/temis_omi_no2.2001.02.tif for 276 points
Trying no2/temis_omi_no2.2005.02.tif for 1154 points
Trying no2/temis_omi_no2.2006.02.tif for 1290 points
Trying no2/temis_omi_no2.2007.02.tif for 807 points
Trying no2/temis_omi_no2.2008.02.tif for 2756 points
Trying no2/temis_omi_no2.2009.02.tif for 95 points
Trying no2/temis_omi_no2.2010.02.tif for 3499 points
Trying no2/temis_omi_no2.2011.02.tif for 2257 points
Trying no2/temis_omi_no2.2012.02.tif for 1711 points
Trying no2/temis_omi_no2.2013.02.tif for 2699 points
Trying no2/temis_omi_no2.2014.02.tif for 4608 points
Trying no2/temis_omi_no2.2015.02.tif for 3850 points
Trying no2/temis_omi_no2.2016.02.tif for 3531 points
Trying no2/temis_omi_no2.2017.02.tif for 764 points
Trying no2/temis_omi_no2.2018.02.tif for 3552 points
Trying no2/temis_omi_no2.2001.03.tif for 276 points
Trying no2/temis_omi_no2.2004.03.tif for 8 points
Trying no2/temis_omi_no2.2005.03.tif for 1158 points
Trying no2/temis_omi_no2.2006.03.tif for 1444 points
Trying no2/temis_omi_no2.2007.03.tif for 543 points
Trying no2/temis_omi_no2.2008.03.tif for 2756 points
Trying no2/temis_omi_no2.2009.03.tif for 6 points
Trying no2/temis_omi_no2.2010.03.tif for 3689 points
Trying no2/temis_omi_no2.2011.03.tif for 2168 points
Trying no2/temis_omi_no2.2012.03.tif for 1624 points
Trying no2/temis_omi_no2.2013.03.tif for 2728 points
Trying no2/temis_omi_no2.2014.03.tif for 4760 points
Trying no2/temis_omi_no2.2015.03.tif for 3777 points
Trying no2/temis_omi_no2.2016.03.tif for 3271 points
Trying no2/temis_omi_no2.2017.03.tif for 774 points
Trying no2/temis_omi_no2.2018.03.tif for 3494 points
Trying no2/temis_omi_no2.2001.04.tif for 276 points
Trying no2/temis_omi_no2.2004.04.tif for 94 points
Trying no2/temis_omi_no2.2005.04.tif for 1191 points
Trying no2/temis_omi_no2.2006.04.tif for 1516 points
Trying no2/temis_omi_no2.2007.04.tif for 543 points
Trying no2/temis_omi_no2.2008.04.tif for 2748 points
Trying no2/temis_omi_no2.2009.04.tif for 8 points
Trying no2/temis_omi_no2.2010.04.tif for 3854 points
Trying no2/temis_omi_no2.2011.04.tif for 2107 points
Trying no2/temis_omi_no2.2012.04.tif for 1529 points
Trying no2/temis_omi_no2.2013.04.tif for 2733 points
Trying no2/temis_omi_no2.2014.04.tif for 4737 points
Trying no2/temis_omi_no2.2015.04.tif for 3723 points
Trying no2/temis_omi_no2.2016.04.tif for 3040 points
Trying no2/temis_omi_no2.2017.04.tif for 993 points
Trying no2/temis_omi_no2.2018.04.tif for 3420 points
Trying no2/temis_omi_no2.2001.05.tif for 276 points
Trying no2/temis_omi_no2.2004.05.tif for 261 points
Trying no2/temis_omi_no2.2005.05.tif for 1189 points
Trying no2/temis_omi_no2.2006.05.tif for 1545 points
Trying no2/temis_omi_no2.2007.05.tif for 709 points
Trying no2/temis_omi_no2.2008.05.tif for 2585 points
Trying no2/temis_omi_no2.2009.05.tif for 185 points
Trying no2/temis_omi_no2.2010.05.tif for 4091 points
Trying no2/temis_omi_no2.2011.05.tif for 1977 points
Trying no2/temis_omi_no2.2012.05.tif for 1585 points
Trying no2/temis_omi_no2.2013.05.tif for 3059 points
Trying no2/temis_omi_no2.2014.05.tif for 4625 points
Trying no2/temis_omi_no2.2015.05.tif for 3857 points
Trying no2/temis_omi_no2.2016.05.tif for 2833 points
Trying no2/temis_omi_no2.2017.05.tif for 1129 points
Trying no2/temis_omi_no2.2018.05.tif for 3201 points
Trying no2/temis_omi_no2.2000.06.tif for 1 points
Trying no2/temis_omi_no2.2001.06.tif for 276 points
Trying no2/temis_omi_no2.2004.06.tif for 449 points
Trying no2/temis_omi_no2.2005.06.tif for 1089 points
Trying no2/temis_omi_no2.2006.06.tif for 1523 points
Trying no2/temis_omi_no2.2007.06.tif for 940 points
Trying no2/temis_omi_no2.2008.06.tif for 2343 points
Trying no2/temis_omi_no2.2009.06.tif for 499 points
Trying no2/temis_omi_no2.2010.06.tif for 4168 points
Trying no2/temis_omi_no2.2011.06.tif for 1780 points
Trying no2/temis_omi_no2.2012.06.tif for 2030 points
Trying no2/temis_omi_no2.2013.06.tif for 3282 points
Trying no2/temis_omi_no2.2014.06.tif for 4240 points
Trying no2/temis_omi_no2.2015.06.tif for 4064 points
Trying no2/temis_omi_no2.2016.06.tif for 2665 points
Trying no2/temis_omi_no2.2017.06.tif for 1213 points
Trying no2/temis_omi_no2.2018.06.tif for 3065 points
Trying no2/temis_omi_no2.2000.07.tif for 25 points
Trying no2/temis_omi_no2.2001.07.tif for 275 points
Trying no2/temis_omi_no2.2004.07.tif for 631 points
Trying no2/temis_omi_no2.2005.07.tif for 1005 points
Trying no2/temis_omi_no2.2006.07.tif for 1535 points
Trying no2/temis_omi_no2.2007.07.tif for 1216 points
Trying no2/temis_omi_no2.2008.07.tif for 2042 points
Trying no2/temis_omi_no2.2009.07.tif for 905 points
Trying no2/temis_omi_no2.2010.07.tif for 4052 points
Trying no2/temis_omi_no2.2011.07.tif for 1636 points
Trying no2/temis_omi_no2.2012.07.tif for 2276 points
Trying no2/temis_omi_no2.2013.07.tif for 3226 points
Trying no2/temis_omi_no2.2014.07.tif for 3948 points
Trying no2/temis_omi_no2.2015.07.tif for 4427 points
Trying no2/temis_omi_no2.2016.07.tif for 2440 points
Trying no2/temis_omi_no2.2017.07.tif for 1474 points
Trying no2/temis_omi_no2.2018.07.tif for 2981 points
Trying no2/temis_omi_no2.2000.08.tif for 116 points
Trying no2/temis_omi_no2.2001.08.tif for 251 points
Trying no2/temis_omi_no2.2004.08.tif for 733 points
Trying no2/temis_omi_no2.2005.08.tif for 917 points
Trying no2/temis_omi_no2.2006.08.tif for 1496 points
Trying no2/temis_omi_no2.2007.08.tif for 1475 points
Trying no2/temis_omi_no2.2008.08.tif for 1704 points
Trying no2/temis_omi_no2.2009.08.tif for 1368 points
Trying no2/temis_omi_no2.2010.08.tif for 3758 points
Trying no2/temis_omi_no2.2011.08.tif for 1591 points
Trying no2/temis_omi_no2.2012.08.tif for 2529 points
Trying no2/temis_omi_no2.2013.08.tif for 3467 points
Trying no2/temis_omi_no2.2014.08.tif for 3733 points
Trying no2/temis_omi_no2.2015.08.tif for 4786 points
Trying no2/temis_omi_no2.2016.08.tif for 2034 points
Trying no2/temis_omi_no2.2017.08.tif for 2178 points
Trying no2/temis_omi_no2.2018.08.tif for 2720 points
Trying no2/temis_omi_no2.2000.09.tif for 208 points
Trying no2/temis_omi_no2.2001.09.tif for 160 points
Trying no2/temis_omi_no2.2004.09.tif for 823 points
Trying no2/temis_omi_no2.2005.09.tif for 848 points
Trying no2/temis_omi_no2.2006.09.tif for 1422 points
Trying no2/temis_omi_no2.2007.09.tif for 1818 points
Trying no2/temis_omi_no2.2008.09.tif for 1366 points
Trying no2/temis_omi_no2.2009.09.tif for 1814 points
Trying no2/temis_omi_no2.2010.09.tif for 3394 points
Trying no2/temis_omi_no2.2011.09.tif for 1613 points
Trying no2/temis_omi_no2.2012.09.tif for 2482 points
Trying no2/temis_omi_no2.2013.09.tif for 3777 points
Trying no2/temis_omi_no2.2014.09.tif for 3436 points
Trying no2/temis_omi_no2.2015.09.tif for 5076 points
Trying no2/temis_omi_no2.2016.09.tif for 1559 points
Trying no2/temis_omi_no2.2017.09.tif for 2916 points
Trying no2/temis_omi_no2.2018.09.tif for 2016 points
Trying no2/temis_omi_no2.2000.10.tif for 276 points
Trying no2/temis_omi_no2.2001.10.tif for 68 points
Trying no2/temis_omi_no2.2004.10.tif for 904 points
Trying no2/temis_omi_no2.2005.10.tif for 765 points
Trying no2/temis_omi_no2.2006.10.tif for 1389 points
Trying no2/temis_omi_no2.2007.10.tif for 2066 points
Trying no2/temis_omi_no2.2008.10.tif for 958 points
Trying no2/temis_omi_no2.2009.10.tif for 2226 points
Trying no2/temis_omi_no2.2010.10.tif for 3030 points
Trying no2/temis_omi_no2.2011.10.tif for 1625 points
Trying no2/temis_omi_no2.2012.10.tif for 2400 points
Trying no2/temis_omi_no2.2013.10.tif for 4105 points
Trying no2/temis_omi_no2.2014.10.tif for 3415 points
Trying no2/temis_omi_no2.2015.10.tif for 5379 points
Trying no2/temis_omi_no2.2016.10.tif for 1103 points
Trying no2/temis_omi_no2.2017.10.tif for 3511 points
Trying no2/temis_omi_no2.2018.10.tif for 1278 points
Trying no2/temis_omi_no2.2000.11.tif for 276 points
Trying no2/temis_omi_no2.2004.11.tif for 983 points
Trying no2/temis_omi_no2.2005.11.tif for 810 points
Trying no2/temis_omi_no2.2006.11.tif for 1382 points
Trying no2/temis_omi_no2.2007.11.tif for 2281 points
Trying no2/temis_omi_no2.2008.11.tif for 690 points
Trying no2/temis_omi_no2.2009.11.tif for 2585 points
Trying no2/temis_omi_no2.2010.11.tif for 2683 points
Trying no2/temis_omi_no2.2011.11.tif for 1797 points
Trying no2/temis_omi_no2.2012.11.tif for 2582 points
Trying no2/temis_omi_no2.2013.11.tif for 4533 points
Trying no2/temis_omi_no2.2014.11.tif for 3693 points
Trying no2/temis_omi_no2.2015.11.tif for 4922 points
Trying no2/temis_omi_no2.2016.11.tif for 769 points
Trying no2/temis_omi_no2.2017.11.tif for 4054 points
Trying no2/temis_omi_no2.2018.11.tif for 683 points
Trying no2/temis_omi_no2.2000.12.tif for 276 points
Trying no2/temis_omi_no2.2004.12.tif for 1050 points
Trying no2/temis_omi_no2.2005.12.tif for 875 points
Trying no2/temis_omi_no2.2006.12.tif for 1256 points
Trying no2/temis_omi_no2.2007.12.tif for 2429 points
Trying no2/temis_omi_no2.2008.12.tif for 477 points
Trying no2/temis_omi_no2.2009.12.tif for 2896 points
Trying no2/temis_omi_no2.2010.12.tif for 2445 points
Trying no2/temis_omi_no2.2011.12.tif for 1940 points
Trying no2/temis_omi_no2.2012.12.tif for 2738 points
Trying no2/temis_omi_no2.2013.12.tif for 4560 points
Trying no2/temis_omi_no2.2014.12.tif for 3670 points
Trying no2/temis_omi_no2.2015.12.tif for 4332 points
Trying no2/temis_omi_no2.2016.12.tif for 755 points
Trying no2/temis_omi_no2.2017.12.tif for 3946 points
Trying no2/temis_omi_no2.2018.12.tif for 96 points

In [227]:
sampled

,,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,lag_n,lag_m,lag_yr,rasterval
id,thing,,,,,,,,,,,
0,0,1,211,10.844760,2.109562,117,2001,10,0,10,2001,
17,0,2,211,10.685410,1.074763,2 8,2001,7,0,7,2001,
21,0,2,211,10.685410,1.074763,2 4,2001,8,0,8,2001,
34,0,3,211,10.613593,1.273059,3 2,2001,8,0,8,2001,
46,0,4,211,10.512361,0.945930,4 1,2001,8,0,8,2001,
...,...,...,...,...,...,...,...,...,...,...,...,...
699744,12,541,542,-15.416081,28.370067,541 2,2018,8,12,8,2017,221
699769,12,542,542,-11.150453,32.946955,542 1,2018,9,12,9,2017,263
699794,12,543,542,-15.769918,28.299570,543 26,2018,11,12,11,2017,93
699819,12,544,542,-12.876392,30.039495,544 5,2018,9,12,9,2017,386
699844,12,545,542,-9.421954,32.608905,545 16,2018,11,12,11,2017,100

merge (left join) the extracted data back onto the with-duplicates inputs and remove the duplicate columns caused by the merge (pandas keeps both even when names match and are tested equal in the join)

In [228]:
full_results_long = pd.merge(melted, sampled, how='left', on=['cluster_number', 'surveyid', 'lag_n', 'lag_m', 'lag_yr'], 
                             indicator=True, validate='m:1',
                            suffixes=('','_y'))

full_results_long.drop(full_results_long.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [215]:
full_results_long.head()

,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,lag_n,lag_m,lag_yr,rasterval,_merge
0,1,211,10.84476,2.109562,117,2001,10,0,10,2001,0.271354,both
1,1,211,10.84476,2.109562,1 1,2001,10,0,10,2001,0.271354,both
2,1,211,10.84476,2.109562,1 2,2001,10,0,10,2001,0.271354,both
3,1,211,10.84476,2.109562,1 3,2001,10,0,10,2001,0.271354,both
4,1,211,10.84476,2.109562,1 4,2001,10,0,10,2001,0.271354,both

check that any surveys which didn't get through the raster extraction are the ones we expect (the ones with null lat column, which got dropped just befor sampling)

In [229]:
full_results_long[full_results_long['_merge']!= 'both']['surveyid'].unique()

array([253])

In [230]:
np.unique(full_results_long[full_results_long['rasterval']==''][['surveyid', 'reference_year', 'reference_month']], axis=0)

array([[ 211, 2001,    6],
       [ 211, 2001,    7],
       [ 211, 2001,    8],
       [ 211, 2001,    9],
       [ 211, 2001,   10],
       [ 248, 2005,    3],
       [ 248, 2005,    4],
       [ 248, 2005,    5],
       [ 248, 2005,    6],
       [ 248, 2005,    7],
       [ 248, 2005,    8],
       [ 260, 2005,    7],
       [ 260, 2005,    8],
       [ 260, 2005,    9],
       [ 491, 2018,    1],
       [ 491, 2018,    2],
       [ 511, 2018,    5],
       [ 511, 2018,    6],
       [ 511, 2018,    7],
       [ 511, 2018,    8],
       [ 511, 2018,    9],
       [ 511, 2018,   10],
       [ 511, 2018,   11],
       [ 511, 2018,   12],
       [ 517, 2018,    7],
       [ 517, 2018,    8],
       [ 517, 2018,    9],
       [ 517, 2018,   10],
       [ 528, 2018,    8],
       [ 528, 2018,    9],
       [ 528, 2018,   10],
       [ 528, 2018,   11],
       [ 528, 2018,   12],
       [ 539, 2018,    3],
       [ 539, 2018,    4],
       [ 539, 2018,    5],
       [ 542, 2018,    7],
       [ 542, 2018,    8],
       [ 542, 2018,    9],
       [ 542, 2018,   10],
       [ 542, 2018,   11],
       [ 542, 2018,   12],
       [ 542, 2019,    1]])

In [172]:
full_results_test = full_results_long.head(250000).copy()
full_results_test

,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,lag_n,lag_m,lag_yr,rasterval,_merge
0,1,211,10.844760,2.109562,117,2001,10,0,10,2001,,both
1,1,211,10.844760,2.109562,1 1,2001,10,0,10,2001,,both
2,1,211,10.844760,2.109562,1 2,2001,10,0,10,2001,,both
3,1,211,10.844760,2.109562,1 3,2001,10,0,10,2001,,both
4,1,211,10.844760,2.109562,1 4,2001,10,0,10,2001,,both
...,...,...,...,...,...,...,...,...,...,...,...,...
249995,70,363,-22.614343,17.069834,7016,2013,5,0,5,2013,31,both
249996,70,363,-22.614343,17.069834,70 7,2013,5,0,5,2013,31,both
249997,70,363,-22.614343,17.069834,70 5,2013,5,0,5,2013,31,both
249998,70,363,-22.614343,17.069834,70 8,2013,5,0,5,2013,31,both
249999,71,363,-22.920372,14.535696,71 1,2013,6,0,6,2013,38,both

Now pivot it back to one set of 3 columns for each lag period i.e. (year,month,value) of extracted raster for each lag amount

https://stackoverflow.com/a/55252414/4150190

There isn't a long_to_wide like there is a wide_to_long!

In [231]:
full_results_long['idx'] = full_results_long.groupby(['cluster_number','surveyid', 'lat', 'lon', 'hhid', 'reference_year','reference_month' ]).cumcount()

In [232]:
pivoted = full_results_long.pivot_table(index=['cluster_number','surveyid', 'lat', 'lon', 'hhid', 'reference_year','reference_month' ],
                                       columns='idx',
                                     values=['lag_n', 'lag_m', 'lag_yr', 'rasterval'],
                       aggfunc='first')
pivoted
#melted_test.pivot(index=['surveyid', 'cluster_number', 'hhid', 'reference_month','reference_year', 'lat', 'lon'], 
#                 columns=['lag_n'], values=['lag_yr', 'lag_m'])

                                                                                      lag_m  \
idx                                                                                      0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 10
                                                   1 2 2001           10                 10
                                                   1 3 2001           10                 10
                                                   1 4 2001           10                 10
                                                   1 5 2001           10                 10
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                   9
                                               2029139 2006           9                   9
                                               2029141 2006           9                   9
                                               2029149 2006           9                   9
                                               2029152 2006           9                   9

                                                                                          \
idx                                                                                   1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               9
                                                   1 2 2001           10               9
                                                   1 3 2001           10               9
                                                   1 4 2001           10               9
                                                   1 5 2001           10               9
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                8
                                               2029139 2006           9                8
                                               2029141 2006           9                8
                                               2029149 2006           9                8
                                               2029152 2006           9                8

                                                                                          \
idx                                                                                   2
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               8
                                                   1 2 2001           10               8
                                                   1 3 2001           10               8
                                                   1 4 2001           10               8
                                                   1 5 2001           10               8
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                7
                                               2029139 2006           9                7
                                               2029141 2006           9                7
                                               2029149 2006           9                7
                                               2029152 2006           9                7

                                                                                          \
idx                                                                                   3
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               7
                                                   1 2 2001           10               7
                                                   1 3 2001           10               7
                                                   1 4 2001           10               7
                                                   1 5 2001           10               7
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                6
                                               2029139 2006           9                6
                                               2029141 2006           9                6
                                               2029149 2006           9                6
                                               2029152 2006           9                6

                                                                                          \
idx                                                                                   4
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               6
                                                   1 2 2001           10               6
                                                   1 3 2001           10               6
                                                   1 4 2001           10               6
                                                   1 5 2001           10               6
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                5
                                               2029139 2006           9                5
                                               2029141 2006           9                5
                                               2029149 2006           9                5
                                               2029152 2006           9                5

                                                                                          \
idx                                                                                   5
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               5
                                                   1 2 2001           10               5
                                                   1 3 2001           10               5
                                                   1 4 2001           10               5
                                                   1 5 2001           10               5
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                4
                                               2029139 2006           9                4
                                               2029141 2006           9                4
                                               2029149 2006           9                4
                                               2029152 2006           9                4

                                                                                          \
idx                                                                                   6
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               4
                                                   1 2 2001           10               4
                                                   1 3 2001           10               4
                                                   1 4 2001           10               4
                                                   1 5 2001           10               4
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                3
                                               2029139 2006           9                3
                                               2029141 2006           9                3
                                               2029149 2006           9                3
                                               2029152 2006           9                3

                                                                                          \
idx                                                                                   7
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               3
                                                   1 2 2001           10               3
                                                   1 3 2001           10               3
                                                   1 4 2001           10               3
                                                   1 5 2001           10               3
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                2
                                               2029139 2006           9                2
                                               2029141 2006           9                2
                                               2029149 2006           9                2
                                               2029152 2006           9                2

                                                                                          \
idx                                                                                   8
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               2
                                                   1 2 2001           10               2
                                                   1 3 2001           10               2
                                                   1 4 2001           10               2
                                                   1 5 2001           10               2
...                                                                                   ..
2029           266      0.00000  0.000000      2029135 2006           9                1
                                               2029139 2006           9                1
                                               2029141 2006           9                1
                                               2029149 2006           9                1
                                               2029152 2006           9                1

                                                                                           \
idx                                                                                    9
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                1
                                                   1 2 2001           10                1
                                                   1 3 2001           10                1
                                                   1 4 2001           10                1
                                                   1 5 2001           10                1
...                                                                                    ..
2029           266      0.00000  0.000000      2029135 2006           9                12
                                               2029139 2006           9                12
                                               2029141 2006           9                12
                                               2029149 2006           9                12
                                               2029152 2006           9                12

                                                                                       ...  \
idx                                                                                    ...
cluster_number surveyid lat      lon      hhid         reference_year reference_month  ...
1              211      10.84476 2.109562          1 1 2001           10               ...
                                                   1 2 2001           10               ...
                                                   1 3 2001           10               ...
                                                   1 4 2001           10               ...
                                                   1 5 2001           10               ...
...                                                                                    ...
2029           266      0.00000  0.000000      2029135 2006           9                ...
                                               2029139 2006           9                ...
                                               2029141 2006           9                ...
                                               2029149 2006           9                ...
                                               2029152 2006           9                ...

                                                                                      rasterval  \
idx                                                                                          3
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                         ...
2029           266      0.00000  0.000000      2029135 2006           9                      74
                                               2029139 2006           9                      74
                                               2029141 2006           9                      74
                                               2029149 2006           9                      74
                                               2029152 2006           9                      74

                                                                                           \
idx                                                                                    4
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                    ..
2029           266      0.00000  0.000000      2029135 2006           9                25
                                               2029139 2006           9                25
                                               2029141 2006           9                25
                                               2029149 2006           9                25
                                               2029152 2006           9                25

                                                                                           \
idx                                                                                    5
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                    ..
2029           266      0.00000  0.000000      2029135 2006           9                67
                                               2029139 2006           9                67
                                               2029141 2006           9                67
                                               2029149 2006           9                67
                                               2029152 2006           9                67

                                                                                           \
idx                                                                                    6
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                    ..
2029           266      0.00000  0.000000      2029135 2006           9                59
                                               2029139 2006           9                59
                                               2029141 2006           9                59
                                               2029149 2006           9                59
                                               2029152 2006           9                59

                                                                                           \
idx                                                                                    7
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                    ..
2029           266      0.00000  0.000000      2029135 2006           9                40
                                               2029139 2006           9                40
                                               2029141 2006           9                40
                                               2029149 2006           9                40
                                               2029152 2006           9                40

                                                                                           \
idx                                                                                    8
cluster_number surveyid lat      lon      hhid         reference_year reference_month

In [233]:
pivoted = pivoted.sort_index(axis=1, level=1)
pivoted

                                                                                      lag_m  \
idx                                                                                      0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 10
                                                   1 2 2001           10                 10
                                                   1 3 2001           10                 10
                                                   1 4 2001           10                 10
                                                   1 5 2001           10                 10
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                   9
                                               2029139 2006           9                   9
                                               2029141 2006           9                   9
                                               2029149 2006           9                   9
                                               2029152 2006           9                   9

                                                                                      lag_n  \
idx                                                                                      0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  0
                                                   1 2 2001           10                  0
                                                   1 3 2001           10                  0
                                                   1 4 2001           10                  0
                                                   1 5 2001           10                  0
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                   0
                                               2029139 2006           9                   0
                                               2029141 2006           9                   0
                                               2029149 2006           9                   0
                                               2029152 2006           9                   0

                                                                                      lag_yr  \
idx                                                                                       0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2001
                                                   1 2 2001           10                2001
                                                   1 3 2001           10                2001
                                                   1 4 2001           10                2001
                                                   1 5 2001           10                2001
...                                                                                      ...
2029           266      0.00000  0.000000      2029135 2006           9                 2006
                                               2029139 2006           9                 2006
                                               2029141 2006           9                 2006
                                               2029149 2006           9                 2006
                                               2029152 2006           9                 2006

                                                                                      rasterval  \
idx                                                                                          0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                         ...
2029           266      0.00000  0.000000      2029135 2006           9                      51
                                               2029139 2006           9                      51
                                               2029141 2006           9                      51
                                               2029149 2006           9                      51
                                               2029152 2006           9                      51

                                                                                      lag_m  \
idx                                                                                      1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  9
                                                   1 2 2001           10                  9
                                                   1 3 2001           10                  9
                                                   1 4 2001           10                  9
                                                   1 5 2001           10                  9
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                   8
                                               2029139 2006           9                   8
                                               2029141 2006           9                   8
                                               2029149 2006           9                   8
                                               2029152 2006           9                   8

                                                                                      lag_n  \
idx                                                                                      1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  1
                                                   1 2 2001           10                  1
                                                   1 3 2001           10                  1
                                                   1 4 2001           10                  1
                                                   1 5 2001           10                  1
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                   1
                                               2029139 2006           9                   1
                                               2029141 2006           9                   1
                                               2029149 2006           9                   1
                                               2029152 2006           9                   1

                                                                                      lag_yr  \
idx                                                                                       1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2001
                                                   1 2 2001           10                2001
                                                   1 3 2001           10                2001
                                                   1 4 2001           10                2001
                                                   1 5 2001           10                2001
...                                                                                      ...
2029           266      0.00000  0.000000      2029135 2006           9                 2006
                                               2029139 2006           9                 2006
                                               2029141 2006           9                 2006
                                               2029149 2006           9                 2006
                                               2029152 2006           9                 2006

                                                                                      rasterval  \
idx                                                                                          1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                         ...
2029           266      0.00000  0.000000      2029135 2006           9                      85
                                               2029139 2006           9                      85
                                               2029141 2006           9                      85
                                               2029149 2006           9                      85
                                               2029152 2006           9                      85

                                                                                      lag_m  \
idx                                                                                      2
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  8
                                                   1 2 2001           10                  8
                                                   1 3 2001           10                  8
                                                   1 4 2001           10                  8
                                                   1 5 2001           10                  8
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                   7
                                               2029139 2006           9                   7
                                               2029141 2006           9                   7
                                               2029149 2006           9                   7
                                               2029152 2006           9                   7

                                                                                      lag_n  \
idx                                                                                      2
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  2
                                                   1 2 2001           10                  2
                                                   1 3 2001           10                  2
                                                   1 4 2001           10                  2
                                                   1 5 2001           10                  2
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                   2
                                               2029139 2006           9                   2
                                               2029141 2006           9                   2
                                               2029149 2006           9                   2
                                               2029152 2006           9                   2

                                                                                       ...  \
idx                                                                                    ...
cluster_number surveyid lat      lon      hhid         reference_year reference_month  ...
1              211      10.84476 2.109562          1 1 2001           10               ...
                                                   1 2 2001           10               ...
                                                   1 3 2001           10               ...
                                                   1 4 2001           10               ...
                                                   1 5 2001           10               ...
...                                                                                    ...
2029           266      0.00000  0.000000      2029135 2006           9                ...
                                               2029139 2006           9                ...
                                               2029141 2006           9                ...
                                               2029149 2006           9                ...
                                               2029152 2006           9                ...

                                                                                      lag_yr  \
idx                                                                                       10
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2000
                                                   1 2 2001           10                2000
                                                   1 3 2001           10                2000
                                                   1 4 2001           10                2000
                                                   1 5 2001           10                2000
...                                                                                      ...
2029           266      0.00000  0.000000      2029135 2006           9                 2005
                                               2029139 2006           9                 2005
                                               2029141 2006           9                 2005
                                               2029149 2006           9                 2005
                                               2029152 2006           9                 2005

                                                                                      rasterval  \
idx                                                                                          10
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10
                                                   1 2 2001           10
                                                   1 3 2001           10
                                                   1 4 2001           10
                                                   1 5 2001           10
...                                                                                         ...
2029           266      0.00000  0.000000      2029135 2006           9                      67
                                               2029139 2006           9                      67
                                               2029141 2006           9                      67
                                               2029149 2006           9                      67
                                               2029152 2006           9                      67

                                                                                      lag_m  \
idx                                                                                      11
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 11
                                                   1 2 2001           10                 11
                                                   1 3 2001           10                 11
                                                   1 4 2001           10                 11
                                                   1 5 2001           10                 11
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                  10
                                               2029139 2006           9                  10
                                               2029141 2006           9                  10
                                               2029149 2006           9                  10
                                               2029152 2006           9                  10

                                                                                      lag_n  \
idx                                                                                      11
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 11
                                                   1 2 2001           10                 11
                                                   1 3 2001           10                 11
                                                   1 4 2001           10                 11
                                                   1 5 2001           10                 11
...                                                                                     ...
2029           266      0.00000  0.000000      2029135 2006           9                  11
                                               2029139 2006           9                  11
                                               2029141 2006           9                  11
                                               2029149 2006           9                  11
                                               2029152 2006           9                  11

                                                                                      lag_yr  \
idx                                                                                       11
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2000
                                                   1 2 2001           10                2000
                                                   1 3 2001           10                2000
                                                   1 4 2001           10                2000
                                                   1 5 2001           10                2000
...                                                                                      ...

In [234]:
pivoted.columns

MultiIndex([(    'lag_m',  0),
            (    'lag_n',  0),
            (   'lag_yr',  0),
            ('rasterval',  0),
            (    'lag_m',  1),
            (    'lag_n',  1),
            (   'lag_yr',  1),
            ('rasterval',  1),
            (    'lag_m',  2),
            (    'lag_n',  2),
            (   'lag_yr',  2),
            ('rasterval',  2),
            (    'lag_m',  3),
            (    'lag_n',  3),
            (   'lag_yr',  3),
            ('rasterval',  3),
            (    'lag_m',  4),
            (    'lag_n',  4),
            (   'lag_yr',  4),
            ('rasterval',  4),
            (    'lag_m',  5),
            (    'lag_n',  5),
            (   'lag_yr',  5),
            ('rasterval',  5),
            (    'lag_m',  6),
            (    'lag_n',  6),
            (   'lag_yr',  6),
            ('rasterval',  6),
            (    'lag_m',  7),
            (    'lag_n',  7),
            (   'lag_yr',  7),
            ('rasterval',  7),
            (    'lag_m',  8),
            (    'lag_n',  8),
            (   'lag_yr',  8),
            ('rasterval',  8),
            (    'lag_m',  9),
            (    'lag_n',  9),
            (   'lag_yr',  9),
            ('rasterval',  9),
            (    'lag_m', 10),
            (    'lag_n', 10),
            (   'lag_yr', 10),
            ('rasterval', 10),
            (    'lag_m', 11),
            (    'lag_n', 11),
            (   'lag_yr', 11),
            ('rasterval', 11),
            (    'lag_m', 12),
            (    'lag_n', 12),
            (   'lag_yr', 12),
            ('rasterval', 12)],
           names=[None, 'idx'])

In [235]:
pivoted.columns = [f'{x}_{y}' for x,y in pivoted.columns]
pivoted = pivoted.reset_index()
pivoted

,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,lag_m_0,lag_n_0,lag_yr_0,...,lag_yr_10,rasterval_10,lag_m_11,lag_n_11,lag_yr_11,rasterval_11,lag_m_12,lag_n_12,lag_yr_12,rasterval_12
0,1,211,10.84476,2.109562,1 1,2001,10,10,0,2001,...,2000,,11,11,2000,,10,12,2000,
1,1,211,10.84476,2.109562,1 2,2001,10,10,0,2001,...,2000,,11,11,2000,,10,12,2000,
2,1,211,10.84476,2.109562,1 3,2001,10,10,0,2001,...,2000,,11,11,2000,,10,12,2000,
3,1,211,10.84476,2.109562,1 4,2001,10,10,0,2001,...,2000,,11,11,2000,,10,12,2000,
4,1,211,10.84476,2.109562,1 5,2001,10,10,0,2001,...,2000,,11,11,2000,,10,12,2000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689552,2029,266,0.00000,0.000000,2029135,2006,9,9,0,2006,...,2005,67,10,11,2005,30,9,12,2005,39
689553,2029,266,0.00000,0.000000,2029139,2006,9,9,0,2006,...,2005,67,10,11,2005,30,9,12,2005,39
689554,2029,266,0.00000,0.000000,2029141,2006,9,9,0,2006,...,2005,67,10,11,2005,30,9,12,2005,39
689555,2029,266,0.00000,0.000000,2029149,2006,9,9,0,2006,...,2005,67,10,11,2005,30,9,12,2005,39
689556,2029,266,0.00000,0.000000,2029152,2006,9,9,0,2006,...,2005,67,10,11,2005,30,9,12,2005,39

This gives our final output; save it to csv.
Optionally delete the `lag_n_*`, `lag_m_*`  and `lag_yr_*` columns as once we've checked the logic they are redundant

In [236]:
pivoted.to_csv('test_no2_output.csv', index=False)