# Lagged raster point sampling

### Description of the datasets

We have a point dataset, in the form of a CSV file with lat/lon columns. 

Each row in the dataset represents a household as surveyed at a point in time, given by reference_month and reference_location. (In this instance the data are extracted from DHS household surveys.)                             

(Note that the reference month is the actual calendar month of survey for dates >= 15th of the month, and the previous calendar months for dates prior to the 15th. This is because we are interested in the effect of a variable in the period prior to survey and so if a household is surveyed on the 1st of the month we're not really interested in the data for that month but rather for the previous month. In any case this has been pre-processed into the data and here we are just looking at the reference_month and reference_year as they are given.)

Each household has a location (lat/lon) but many households are at the same location (for anonymity); the location is known as a cluster and is unique by surveyid and cluster_number. 

Most but not necessarily all households at the same location (cluster) in a survey will be surveyed in the same month.

We have a folder of rasters which represent monthly data for a single variable of interest (i.e. one raster per month). These are named such that the filename contains the month in the form `*YYYY.MM*` i.e. 4 digits then a dot then 2 digits.

### Description of the task

For each household we want to generate a time series of raster values for the 12 months prior to the reference month, and the reference month. That is, we need to sample 13 rasters, corresponding to the reference month/year, and each of the 12 preceding months, and eventually output a table that is like the input with 13 additional columns for the values at month 0, month -1, month -2 etc.

In [2]:
import pandas as pd
import numpy as np
import os

### Sample of the data
In these first few rows the households (hhid) within the cluster are all sampled in the same month but this isn't always true.
Note that the hhid is as taken from the source data and consists of numbers and spaces - the values should not be .trim()ed as this could break joining downstream.

In [4]:
_folder = "/mnt/c/Users/harry/OneDrive - Nexus365/Informal_Cities/DHS_Data_And_Prep/Survey_Point_locations/Locations/all"
_fn = "all_cluster_locations.csv"

inp = os.path.join(_folder, _fn)

In [7]:
df = pd.read_csv(inp
                # ,usecols=['surveyid','cluster_number','hhid','reference_month','reference_year','lat','lon']
                 , usecols=['surveyid','dhsclust','dhsid','latnum','longnum']
                )
df.head()

            dhsid  surveyid  dhsclust     latnum    longnum
0  CM201100000001       337         1  10.340020  15.266488
1  CM201100000002       337         2   4.081516   9.762119
2  CM201100000003       337         3   5.958239  10.186587
3  CM201100000004       337         4   5.967302  10.150110
4  CM201100000005       337         5   5.155473  10.182570

In [8]:
df[df['surveyid']==317]

                dhsid  surveyid  dhsclust     latnum    longnum
26472  LS200900000001       317         1 -29.936197  27.520731
26473  LS200900000002       317         2 -30.282707  28.137836
26474  LS200900000003       317         3 -29.512251  27.716495
26475  LS200900000004       317         4 -29.580522  27.545744
26476  LS200900000005       317         5 -29.288247  27.575525
...               ...       ...       ...        ...        ...
26870  LS200900000396       317       396 -29.048934  28.253653
26871  LS200900000397       317       397 -29.453294  27.724759
26872  LS200900000398       317       398 -30.311016  27.775404
26873  LS200900000399       317       399 -29.293161  28.472647
26874  LS200900000400       317       400 -29.147642  28.064207

[400 rows x 5 columns]

In [29]:
df = df[df.surveyid==317]

### Generating the sample dates for each row

For passing to the raster sampler we will ultimately need a long-format table (stacked), one row for each location / hh / lag combination, i.e. in the case of 12 months lag, 13 rows for each input row.

It seems strangely hard to define a way in pandas to apply a function that converts each row into multiple rows.

Instead we will add the lags to each row (wide format).

In [9]:
from datetime import date
from dateutil.relativedelta import relativedelta

In [6]:
N_MONTHS = 12
ONE_MONTH = relativedelta(months=1)
        
def add_lags_to_row(row):
    yr = row['reference_year']
    mth = row['reference_month']
    feat_date = date(yr, mth, 1)
    new_rows = []
    for i in range(N_MONTHS + 1):
        lag_date = feat_date - i * ONE_MONTH
        lag_y = lag_date.year
        lag_m = lag_date.month
        row[f'lag_n{i}'] = i
        row[f'lag_yr{i}'] = lag_y
        row[f'lag_m{i}'] = lag_m
    return row

In [8]:
df_test = df.head(20) 
df_test

,surveyid,cluster_number,hhid,reference_month,reference_year,lat,lon
0,211,1,117,10,2001,10.84476,2.109562
1,211,1,1 1,10,2001,10.84476,2.109562
2,211,1,1 2,10,2001,10.84476,2.109562
3,211,1,1 3,10,2001,10.84476,2.109562
4,211,1,1 4,10,2001,10.84476,2.109562
5,211,1,1 5,10,2001,10.84476,2.109562
6,211,1,1 6,10,2001,10.84476,2.109562
7,211,1,1 7,10,2001,10.84476,2.109562
8,211,1,1 8,10,2001,10.84476,2.109562
9,211,1,1 9,10,2001,10.84476,2.109562
10,211,1,110,10,2001,10.84476,2.109562
11,211,1,111,10,2001,10.84476,2.109562
12,211,1,112,10,2001,10.84476,2.109562
13,211,1,113,10,2001,10.84476,2.109562
14,211,1,114,10,2001,10.84476,2.109562
15,211,1,115,10,2001,10.84476,2.109562
16,211,1,116,10,2001,10.84476,2.109562
17,211,2,210,8,2001,10.68541,1.074763
18,211,2,2 1,7,2001,10.68541,1.074763
19,211,2,2 2,7,2001,10.68541,1.074763

In [36]:
wide_df_test = df_test.apply(add_lags_to_row, axis=1)
wide_df_test['id'] = wide_df_test.index
wide_df_test.head()

,surveyid,cluster_number,hhid,reference_month,reference_year,lat,lon,lag_n0,lag_yr0,lag_m0,...,lag_n10,lag_yr10,lag_m10,lag_n11,lag_yr11,lag_m11,lag_n12,lag_yr12,lag_m12,id
146159,317,1,1106,11,2009,-29.936197,27.520731,0,2009,11,...,10,2009,1,11,2008,12,12,2008,11,146159
146160,317,1,1239,11,2009,-29.936197,27.520731,0,2009,11,...,10,2009,1,11,2008,12,12,2008,11,146160
146161,317,1,1232,11,2009,-29.936197,27.520731,0,2009,11,...,10,2009,1,11,2008,12,12,2008,11,146161
146162,317,1,1220,11,2009,-29.936197,27.520731,0,2009,11,...,10,2009,1,11,2008,12,12,2008,11,146162
146163,317,1,1207,11,2009,-29.936197,27.520731,0,2009,11,...,10,2009,1,11,2008,12,12,2008,11,146163

This is pretty slow due to all those lookups and python loops on each row. So we'll parallelise it. 

Tried dask which I've not used before; didn't quite get there, would need to redefine the mapped function to expect series I think

In [59]:
import dask.dataframe as dd
from dask.multiprocessing import get

In [ ]:
ddata = dd.from_pandas(df, npartitions=100)
#df.compute(get=dask.threaded.get, num_workers=20)
def apply_lagger_to_DF(df): return df.apply((lambda row: add_lags_to_row(**row)), axis=1)
wide_df = ddata.map_partitions(apply_lagger_to_DF).compute(get=get, num_workers=25)

Pandarallel is much more straightforward for this case. 

Install the jupyter widgets extension for progress bars if necessary (https://github.com/nalepae/pandarallel) first

In [7]:
from pandarallel import pandarallel

Limit workers to 25 so as not to take over server (72 cores); can use memory fs as server has large allocation

In [8]:
pandarallel.initialize(nb_workers=10, progress_bar=True, use_memory_fs=True)

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [10]:
wide_df  = df.parallel_apply(add_lags_to_row, axis=1)
#wide_df = df.apply(add_lags_to_row, axis=1)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=70538), Label(value='0 / 70538')))â€¦

Still takes a while, so checkpoint:

In [12]:
wide_df.to_csv(os.path.join(_folder,'peak_urban_hh_lags_wide_all.csv'))

In [13]:
wide_df.to_parquet(os.path.join(_folder,'peak_urban_hh_lags_wide_all'), compression='GZIP')

In [14]:
wide_df['id'] = wide_df.index

In [15]:
wide_df.head()

,surveyid,cluster_number,hhid,reference_month,reference_year,lat,lon,lag_n0,lag_yr0,lag_m0,...,lag_n10,lag_yr10,lag_m10,lag_n11,lag_yr11,lag_m11,lag_n12,lag_yr12,lag_m12,id
0,211,1,117,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,0
1,211,1,1 1,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,1
2,211,1,1 2,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,2
3,211,1,1 3,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,3
4,211,1,1 4,10,2001,10.84476,2.109562,0,2001,10,...,10,2000,12,11,2000,11,12,2000,10,4

Use the super-handy wide_to_long function to stack / pseudo-normalise this output to have one row per unique combination of location, time (raster) and how many lag months this time is for this household.

In [16]:
melted = pd.wide_to_long(wide_df, ['lag_n','lag_m', 'lag_yr'], i=['id'], j='thing')
melted.head(5)

,,lat,reference_year,lon,hhid,surveyid,cluster_number,reference_month,lag_n,lag_m,lag_yr
id,thing,,,,,,,,,,
0,0,10.84476,2001,2.109562,117,211,1,10,0,10,2001
1,0,10.84476,2001,2.109562,1 1,211,1,10,0,10,2001
2,0,10.84476,2001,2.109562,1 2,211,1,10,0,10,2001
3,0,10.84476,2001,2.109562,1 3,211,1,10,0,10,2001
4,0,10.84476,2001,2.109562,1 4,211,1,10,0,10,2001

This will have duplicates where multiple households in the same location (cluster) are interviewed in the same month (which is the norm).

We could use this df directly for the raster sampling, but it'll be more efficient to get rid of the duplicates in this dimension to cut down raster sampling (maybe).

In [17]:
extract_pts = melted.drop_duplicates(subset=['cluster_number', 'surveyid', 'lag_n', 'lag_yr', 'lag_m', 'lag_yr'])
extract_pts.head()

,,lat,reference_year,lon,hhid,surveyid,cluster_number,reference_month,lag_n,lag_m,lag_yr
id,thing,,,,,,,,,,
0,0,10.844760,2001,2.109562,117,211,1,10,0,10,2001
17,0,10.685410,2001,1.074763,210,211,2,8,0,8,2001
18,0,10.685410,2001,1.074763,2 1,211,2,7,0,7,2001
34,0,10.613593,2001,1.273059,3 9,211,3,8,0,8,2001
46,0,10.512361,2001,0.945930,4 4,211,4,8,0,8,2001

We will use rasterio to handle the sampling

In [3]:
import rasterio as rio
from rasterio import RasterioIOError

Define a function that will take a dataframe or rather sub-set of one with a common month and year for extraction, and extract the matching raster for all these point locations.
The month and year will be taken from the first row of the group and we're not currently checking they are the same across the passed data. Data path is hardcoded here for now

In [22]:
def extract_raster_vals(grp):
    coords = list(zip(grp['lon'], grp['lat']))
    firstrow = grp.iloc[0]
    req_yr = str(firstrow['lag_yr'])
    req_m = str(firstrow['lag_m']).zfill(2)
    #rastername = f'no2/temis_omi_no2.{req_yr}.{req_m}.tif'
    rastername = f'/mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.{req_yr}.{req_m}.sum.5km.NN.tif'
    #rastername = f'no2/temis_omi_no2.{req_yr}.{req_m}.tif'
    print(f"Trying {rastername} for {grp.shape[0]} points")
    #print(coords)
    try:
        with rio.open(rastername) as src:
            grp['rasterval'] = [x[0] for x in src.sample(coords, masked=True)]
    except RasterioIOError:
        grp['rasterval'] = ''
    return grp

Use groupby to call the function for each yr/mth subset of the data in turn

In [23]:
sampled = extract_pts.loc[pd.notnull(extract_pts.lat)].groupby(['lag_m','lag_yr']).apply(extract_raster_vals)

Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.01.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.01.sum.5km.NN.tif for 1145 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.01.sum.5km.NN.tif for 1113 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.01.sum.5km.NN.tif for 1112 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.01.sum.5km.NN.tif for 2524 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.01.sum.5km.NN.tif for 676 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.01.sum.5km.NN.tif for 3267 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.01.sum.5km.NN.tif for 2367 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.01.sum.5km.NN.tif for 1916 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.01.sum.5km.NN.tif for 2687 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.01.sum.5km.NN.tif for 4461 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.01.sum.5km.NN.tif for 3901 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.01.sum.5km.NN.tif for 4018 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.01.sum.5km.NN.tif for 849 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.01.sum.5km.NN.tif for 3768 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2019.01.sum.5km.NN.tif for 3 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.02.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.02.sum.5km.NN.tif for 1154 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.02.sum.5km.NN.tif for 1290 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.02.sum.5km.NN.tif for 807 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.02.sum.5km.NN.tif for 2585 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.02.sum.5km.NN.tif for 512 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.02.sum.5km.NN.tif for 3499 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.02.sum.5km.NN.tif for 2257 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.02.sum.5km.NN.tif for 1711 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.02.sum.5km.NN.tif for 2699 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.02.sum.5km.NN.tif for 4608 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.02.sum.5km.NN.tif for 3850 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.02.sum.5km.NN.tif for 3531 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.02.sum.5km.NN.tif for 764 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.02.sum.5km.NN.tif for 3552 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.03.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.03.sum.5km.NN.tif for 8 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.03.sum.5km.NN.tif for 1158 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.03.sum.5km.NN.tif for 1444 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.03.sum.5km.NN.tif for 543 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.03.sum.5km.NN.tif for 2585 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.03.sum.5km.NN.tif for 452 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.03.sum.5km.NN.tif for 3689 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.03.sum.5km.NN.tif for 2168 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.03.sum.5km.NN.tif for 1624 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.03.sum.5km.NN.tif for 2728 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.03.sum.5km.NN.tif for 4760 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.03.sum.5km.NN.tif for 3777 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.03.sum.5km.NN.tif for 3271 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.03.sum.5km.NN.tif for 774 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.03.sum.5km.NN.tif for 3494 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.04.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.04.sum.5km.NN.tif for 94 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.04.sum.5km.NN.tif for 1191 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.04.sum.5km.NN.tif for 1516 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.04.sum.5km.NN.tif for 543 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.04.sum.5km.NN.tif for 2577 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.04.sum.5km.NN.tif for 454 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.04.sum.5km.NN.tif for 3854 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.04.sum.5km.NN.tif for 2107 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.04.sum.5km.NN.tif for 1529 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.04.sum.5km.NN.tif for 2733 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.04.sum.5km.NN.tif for 4737 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.04.sum.5km.NN.tif for 3723 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.04.sum.5km.NN.tif for 3040 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.04.sum.5km.NN.tif for 993 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.04.sum.5km.NN.tif for 3420 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.05.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.05.sum.5km.NN.tif for 261 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.05.sum.5km.NN.tif for 1189 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.05.sum.5km.NN.tif for 1545 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.05.sum.5km.NN.tif for 709 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.05.sum.5km.NN.tif for 2414 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.05.sum.5km.NN.tif for 631 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.05.sum.5km.NN.tif for 4091 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.05.sum.5km.NN.tif for 1977 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.05.sum.5km.NN.tif for 1585 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.05.sum.5km.NN.tif for 3059 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.05.sum.5km.NN.tif for 4625 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.05.sum.5km.NN.tif for 3857 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.05.sum.5km.NN.tif for 2833 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.05.sum.5km.NN.tif for 1129 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.05.sum.5km.NN.tif for 3201 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2000.06.sum.5km.NN.tif for 1 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.06.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.06.sum.5km.NN.tif for 449 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.06.sum.5km.NN.tif for 1089 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.06.sum.5km.NN.tif for 1523 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.06.sum.5km.NN.tif for 940 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.06.sum.5km.NN.tif for 2172 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.06.sum.5km.NN.tif for 945 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.06.sum.5km.NN.tif for 4168 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.06.sum.5km.NN.tif for 1780 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.06.sum.5km.NN.tif for 2030 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.06.sum.5km.NN.tif for 3282 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.06.sum.5km.NN.tif for 4240 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.06.sum.5km.NN.tif for 4064 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.06.sum.5km.NN.tif for 2665 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.06.sum.5km.NN.tif for 1213 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.06.sum.5km.NN.tif for 3065 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2000.07.sum.5km.NN.tif for 25 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.07.sum.5km.NN.tif for 275 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.07.sum.5km.NN.tif for 631 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.07.sum.5km.NN.tif for 1005 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.07.sum.5km.NN.tif for 1535 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.07.sum.5km.NN.tif for 1216 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.07.sum.5km.NN.tif for 1871 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.07.sum.5km.NN.tif for 1351 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.07.sum.5km.NN.tif for 4052 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.07.sum.5km.NN.tif for 1636 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.07.sum.5km.NN.tif for 2276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.07.sum.5km.NN.tif for 3226 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.07.sum.5km.NN.tif for 3948 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.07.sum.5km.NN.tif for 4427 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.07.sum.5km.NN.tif for 2440 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.07.sum.5km.NN.tif for 1474 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.07.sum.5km.NN.tif for 2981 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2000.08.sum.5km.NN.tif for 116 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.08.sum.5km.NN.tif for 251 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.08.sum.5km.NN.tif for 733 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.08.sum.5km.NN.tif for 917 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.08.sum.5km.NN.tif for 1496 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.08.sum.5km.NN.tif for 1475 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.08.sum.5km.NN.tif for 1533 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.08.sum.5km.NN.tif for 1814 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.08.sum.5km.NN.tif for 3758 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.08.sum.5km.NN.tif for 1591 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.08.sum.5km.NN.tif for 2529 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.08.sum.5km.NN.tif for 3467 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.08.sum.5km.NN.tif for 3733 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.08.sum.5km.NN.tif for 4786 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.08.sum.5km.NN.tif for 2034 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.08.sum.5km.NN.tif for 2178 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.08.sum.5km.NN.tif for 2720 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2000.09.sum.5km.NN.tif for 208 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.09.sum.5km.NN.tif for 160 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.09.sum.5km.NN.tif for 823 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.09.sum.5km.NN.tif for 848 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.09.sum.5km.NN.tif for 1422 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.09.sum.5km.NN.tif for 1818 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.09.sum.5km.NN.tif for 1195 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.09.sum.5km.NN.tif for 2260 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.09.sum.5km.NN.tif for 3394 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.09.sum.5km.NN.tif for 1613 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.09.sum.5km.NN.tif for 2482 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.09.sum.5km.NN.tif for 3777 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.09.sum.5km.NN.tif for 3436 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.09.sum.5km.NN.tif for 5076 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.09.sum.5km.NN.tif for 1559 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.09.sum.5km.NN.tif for 2916 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.09.sum.5km.NN.tif for 2016 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2000.10.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2001.10.sum.5km.NN.tif for 68 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.10.sum.5km.NN.tif for 904 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.10.sum.5km.NN.tif for 765 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.10.sum.5km.NN.tif for 1389 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.10.sum.5km.NN.tif for 2066 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.10.sum.5km.NN.tif for 941 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.10.sum.5km.NN.tif for 2672 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.10.sum.5km.NN.tif for 3030 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.10.sum.5km.NN.tif for 1625 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.10.sum.5km.NN.tif for 2400 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.10.sum.5km.NN.tif for 4105 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.10.sum.5km.NN.tif for 3415 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.10.sum.5km.NN.tif for 5379 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.10.sum.5km.NN.tif for 1103 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.10.sum.5km.NN.tif for 3511 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.10.sum.5km.NN.tif for 1278 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2000.11.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.11.sum.5km.NN.tif for 983 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.11.sum.5km.NN.tif for 810 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.11.sum.5km.NN.tif for 1382 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.11.sum.5km.NN.tif for 2280 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.11.sum.5km.NN.tif for 875 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.11.sum.5km.NN.tif for 2877 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.11.sum.5km.NN.tif for 2683 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.11.sum.5km.NN.tif for 1797 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.11.sum.5km.NN.tif for 2582 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.11.sum.5km.NN.tif for 4533 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.11.sum.5km.NN.tif for 3693 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.11.sum.5km.NN.tif for 4922 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.11.sum.5km.NN.tif for 769 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.11.sum.5km.NN.tif for 4054 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.11.sum.5km.NN.tif for 683 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2000.12.sum.5km.NN.tif for 276 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2004.12.sum.5km.NN.tif for 1050 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2005.12.sum.5km.NN.tif for 875 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2006.12.sum.5km.NN.tif for 1256 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2007.12.sum.5km.NN.tif for 2360 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2008.12.sum.5km.NN.tif for 702 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2009.12.sum.5km.NN.tif for 2986 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2010.12.sum.5km.NN.tif for 2445 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2011.12.sum.5km.NN.tif for 1940 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2012.12.sum.5km.NN.tif for 2738 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2013.12.sum.5km.NN.tif for 4560 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2014.12.sum.5km.NN.tif for 3670 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2015.12.sum.5km.NN.tif for 4332 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2016.12.sum.5km.NN.tif for 755 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2017.12.sum.5km.NN.tif for 3946 points
Trying /mnt/d/InformalCities/Data/CHIRPS/chirps-v2-0.2018.12.sum.5km.NN.tif for 96 points

In [25]:
sampled

,,lat,reference_year,lon,hhid,surveyid,cluster_number,reference_month,lag_n,lag_m,lag_yr,rasterval
id,thing,,,,,,,,,,,
0,0,10.844760,2001,2.109562,117,211,1,10,0,10,2001,17.5411
17,0,10.685410,2001,1.074763,210,211,2,8,0,8,2001,179.567
18,0,10.685410,2001,1.074763,2 1,211,2,7,0,7,2001,195.308
34,0,10.613593,2001,1.273059,3 9,211,3,8,0,8,2001,210.201
46,0,10.512361,2001,0.945930,4 4,211,4,8,0,8,2001,206.537
...,...,...,...,...,...,...,...,...,...,...,...,...
705252,12,-15.416081,2018,28.370067,541 3,542,541,8,12,8,2017,0.175996
705277,12,-11.150453,2018,32.946955,542 15,542,542,9,12,9,2017,0.424578
705302,12,-15.769918,2018,28.299570,543 2,542,543,11,12,11,2017,111.414
705327,12,-12.876392,2018,30.039495,544 1,542,544,9,12,9,2017,0.881467
705352,12,-9.421954,2018,32.608905,545 20,542,545,11,12,11,2017,101.924

merge (left join) the extracted data back onto the with-duplicates inputs and remove the duplicate columns caused by the merge (pandas keeps both even when names match and are tested equal in the join)

In [26]:
full_results_long = pd.merge(melted, sampled, how='left', on=['cluster_number', 'surveyid', 'lag_n', 'lag_m', 'lag_yr'], 
                             indicator=True, validate='m:1',
                            suffixes=('','_y'))

full_results_long.drop(full_results_long.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [27]:
full_results_long.head()

,lat,reference_year,lon,hhid,surveyid,cluster_number,reference_month,lag_n,lag_m,lag_yr,rasterval,_merge
0,10.84476,2001,2.109562,117,211,1,10,0,10,2001,17.5411,both
1,10.84476,2001,2.109562,1 1,211,1,10,0,10,2001,17.5411,both
2,10.84476,2001,2.109562,1 2,211,1,10,0,10,2001,17.5411,both
3,10.84476,2001,2.109562,1 3,211,1,10,0,10,2001,17.5411,both
4,10.84476,2001,2.109562,1 4,211,1,10,0,10,2001,17.5411,both

check that any surveys which didn't get through the raster extraction are the ones we expect (the ones with null lat column, which got dropped just befor sampling)

In [28]:
full_results_long[full_results_long['_merge']!= 'both']['surveyid'].unique()

array([253])

In [29]:
np.unique(full_results_long[full_results_long['rasterval']==''][['surveyid', 'reference_year', 'reference_month']], axis=0)

array([], shape=(0, 3), dtype=int64)

In [30]:
full_results_test = full_results_long.head(250000).copy()
full_results_test

,lat,reference_year,lon,hhid,surveyid,cluster_number,reference_month,lag_n,lag_m,lag_yr,rasterval,_merge
0,10.844760,2001,2.109562,117,211,1,10,0,10,2001,17.5411,both
1,10.844760,2001,2.109562,1 1,211,1,10,0,10,2001,17.5411,both
2,10.844760,2001,2.109562,1 2,211,1,10,0,10,2001,17.5411,both
3,10.844760,2001,2.109562,1 3,211,1,10,0,10,2001,17.5411,both
4,10.844760,2001,2.109562,1 4,211,1,10,0,10,2001,17.5411,both
...,...,...,...,...,...,...,...,...,...,...,...,...
249995,-23.643455,2011,35.292552,42114,362,421,8,0,8,2011,27.6273,both
249996,-23.643455,2011,35.292552,42115,362,421,8,0,8,2011,27.6273,both
249997,-23.643455,2011,35.292552,42116,362,421,8,0,8,2011,27.6273,both
249998,-23.643455,2011,35.292552,42117,362,421,8,0,8,2011,27.6273,both
249999,-23.643455,2011,35.292552,42118,362,421,8,0,8,2011,27.6273,both

Now pivot it back to one set of 3 columns for each lag period i.e. (year,month,value) of extracted raster for each lag amount

https://stackoverflow.com/a/55252414/4150190

There isn't a long_to_wide like there is a wide_to_long!

In [31]:
full_results_long['idx'] = full_results_long.groupby(['cluster_number','surveyid', 'lat', 'lon', 'hhid', 'reference_year','reference_month' ]).cumcount()

In [32]:
pivoted = full_results_long.pivot_table(index=['cluster_number','surveyid', 'lat', 'lon', 'hhid', 'reference_year','reference_month' ],
                                       columns='idx',
                                     values=['lag_n', 'lag_m', 'lag_yr', 'rasterval'],
                       aggfunc='first')
pivoted
#melted_test.pivot(index=['surveyid', 'cluster_number', 'hhid', 'reference_month','reference_year', 'lat', 'lon'], 
#                 columns=['lag_n'], values=['lag_yr', 'lag_m'])

                                                                                      lag_m  \
idx                                                                                      0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 10
                                                   1 2 2001           10                 10
                                                   1 3 2001           10                 10
                                                   1 4 2001           10                 10
                                                   1 5 2001           10                 10
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                   9
                                          2029139      2006           9                   9
                                          2029141      2006           9                   9
                                          2029149      2006           9                   9
                                          2029152      2006           9                   9

                                                                                          \
idx                                                                                   1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               9
                                                   1 2 2001           10               9
                                                   1 3 2001           10               9
                                                   1 4 2001           10               9
                                                   1 5 2001           10               9
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                8
                                          2029139      2006           9                8
                                          2029141      2006           9                8
                                          2029149      2006           9                8
                                          2029152      2006           9                8

                                                                                          \
idx                                                                                   2
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               8
                                                   1 2 2001           10               8
                                                   1 3 2001           10               8
                                                   1 4 2001           10               8
                                                   1 5 2001           10               8
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                7
                                          2029139      2006           9                7
                                          2029141      2006           9                7
                                          2029149      2006           9                7
                                          2029152      2006           9                7

                                                                                          \
idx                                                                                   3
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               7
                                                   1 2 2001           10               7
                                                   1 3 2001           10               7
                                                   1 4 2001           10               7
                                                   1 5 2001           10               7
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                6
                                          2029139      2006           9                6
                                          2029141      2006           9                6
                                          2029149      2006           9                6
                                          2029152      2006           9                6

                                                                                          \
idx                                                                                   4
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               6
                                                   1 2 2001           10               6
                                                   1 3 2001           10               6
                                                   1 4 2001           10               6
                                                   1 5 2001           10               6
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                5
                                          2029139      2006           9                5
                                          2029141      2006           9                5
                                          2029149      2006           9                5
                                          2029152      2006           9                5

                                                                                          \
idx                                                                                   5
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               5
                                                   1 2 2001           10               5
                                                   1 3 2001           10               5
                                                   1 4 2001           10               5
                                                   1 5 2001           10               5
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                4
                                          2029139      2006           9                4
                                          2029141      2006           9                4
                                          2029149      2006           9                4
                                          2029152      2006           9                4

                                                                                          \
idx                                                                                   6
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               4
                                                   1 2 2001           10               4
                                                   1 3 2001           10               4
                                                   1 4 2001           10               4
                                                   1 5 2001           10               4
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                3
                                          2029139      2006           9                3
                                          2029141      2006           9                3
                                          2029149      2006           9                3
                                          2029152      2006           9                3

                                                                                          \
idx                                                                                   7
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               3
                                                   1 2 2001           10               3
                                                   1 3 2001           10               3
                                                   1 4 2001           10               3
                                                   1 5 2001           10               3
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                2
                                          2029139      2006           9                2
                                          2029141      2006           9                2
                                          2029149      2006           9                2
                                          2029152      2006           9                2

                                                                                          \
idx                                                                                   8
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               2
                                                   1 2 2001           10               2
                                                   1 3 2001           10               2
                                                   1 4 2001           10               2
                                                   1 5 2001           10               2
...                                                                                   ..
2029           266      0.00000  0.000000 2029135      2006           9                1
                                          2029139      2006           9                1
                                          2029141      2006           9                1
                                          2029149      2006           9                1
                                          2029152      2006           9                1

                                                                                           \
idx                                                                                    9
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                1
                                                   1 2 2001           10                1
                                                   1 3 2001           10                1
                                                   1 4 2001           10                1
                                                   1 5 2001           10                1
...                                                                                    ..
2029           266      0.00000  0.000000 2029135      2006           9                12
                                          2029139      2006           9                12
                                          2029141      2006           9                12
                                          2029149      2006           9                12
                                          2029152      2006           9                12

                                                                                       ...  \
idx                                                                                    ...
cluster_number surveyid lat      lon      hhid         reference_year reference_month  ...
1              211      10.84476 2.109562          1 1 2001           10               ...
                                                   1 2 2001           10               ...
                                                   1 3 2001           10               ...
                                                   1 4 2001           10               ...
                                                   1 5 2001           10               ...
...                                                                                    ...
2029           266      0.00000  0.000000 2029135      2006           9                ...
                                          2029139      2006           9                ...
                                          2029141      2006           9                ...
                                          2029149      2006           9                ...
                                          2029152      2006           9                ...

                                                                                      rasterval  \
idx                                                                                          3
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                252.868
                                                   1 2 2001           10                252.868
                                                   1 3 2001           10                252.868
                                                   1 4 2001           10                252.868
                                                   1 5 2001           10                252.868
...                                                                                         ...
2029           266      0.00000  0.000000 2029135      2006           9                      --
                                          2029139      2006           9                      --
                                          2029141      2006           9                      --
                                          2029149      2006           9                      --
                                          2029152      2006           9                      --

                                                                                                \
idx                                                                                         4
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               154.647
                                                   1 2 2001           10               154.647
                                                   1 3 2001           10               154.647
                                                   1 4 2001           10               154.647
                                                   1 5 2001           10               154.647
...                                                                                        ...
2029           266      0.00000  0.000000 2029135      2006           9                     --
                                          2029139      2006           9                     --
                                          2029141      2006           9                     --
                                          2029149      2006           9                     --
                                          2029152      2006           9                     --

                                                                                                \
idx                                                                                         5
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               122.535
                                                   1 2 2001           10               122.535
                                                   1 3 2001           10               122.535
                                                   1 4 2001           10               122.535
                                                   1 5 2001           10               122.535
...                                                                                        ...
2029           266      0.00000  0.000000 2029135      2006           9                     --
                                          2029139      2006           9                     --
                                          2029141      2006           9                     --
                                          2029149      2006           9                     --
                                          2029152      2006           9                     --

                                                                                                \
idx                                                                                         6
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               18.9429
                                                   1 2 2001           10               18.9429
                                                   1 3 2001           10               18.9429
                                                   1 4 2001           10               18.9429
                                                   1 5 2001           10               18.9429
...                                                                                        ...
2029           266      0.00000  0.000000 2029135      2006           9                     --
                                          2029139      2006           9                     --
                                          2029141      2006           9                     --
                                          2029149      2006           9                     --
                                          2029152      2006           9                     --

                                                                                                \
idx                                                                                         7
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10               3.98381
                                                   1 2 2001           10               3.98381
                                                   1 3 2001           10               3.98381
                                                   1 4 2001           10               3.98381
                                                   1 5 2001           10               3.98381
...                                                                                        ...

In [33]:
pivoted = pivoted.sort_index(axis=1, level=1)
pivoted

                                                                                      lag_m  \
idx                                                                                      0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 10
                                                   1 2 2001           10                 10
                                                   1 3 2001           10                 10
                                                   1 4 2001           10                 10
                                                   1 5 2001           10                 10
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                   9
                                          2029139      2006           9                   9
                                          2029141      2006           9                   9
                                          2029149      2006           9                   9
                                          2029152      2006           9                   9

                                                                                      lag_n  \
idx                                                                                      0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  0
                                                   1 2 2001           10                  0
                                                   1 3 2001           10                  0
                                                   1 4 2001           10                  0
                                                   1 5 2001           10                  0
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                   0
                                          2029139      2006           9                   0
                                          2029141      2006           9                   0
                                          2029149      2006           9                   0
                                          2029152      2006           9                   0

                                                                                      lag_yr  \
idx                                                                                       0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2001
                                                   1 2 2001           10                2001
                                                   1 3 2001           10                2001
                                                   1 4 2001           10                2001
                                                   1 5 2001           10                2001
...                                                                                      ...
2029           266      0.00000  0.000000 2029135      2006           9                 2006
                                          2029139      2006           9                 2006
                                          2029141      2006           9                 2006
                                          2029149      2006           9                 2006
                                          2029152      2006           9                 2006

                                                                                      rasterval  \
idx                                                                                          0
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                17.5411
                                                   1 2 2001           10                17.5411
                                                   1 3 2001           10                17.5411
                                                   1 4 2001           10                17.5411
                                                   1 5 2001           10                17.5411
...                                                                                         ...
2029           266      0.00000  0.000000 2029135      2006           9                      --
                                          2029139      2006           9                      --
                                          2029141      2006           9                      --
                                          2029149      2006           9                      --
                                          2029152      2006           9                      --

                                                                                      lag_m  \
idx                                                                                      1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  9
                                                   1 2 2001           10                  9
                                                   1 3 2001           10                  9
                                                   1 4 2001           10                  9
                                                   1 5 2001           10                  9
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                   8
                                          2029139      2006           9                   8
                                          2029141      2006           9                   8
                                          2029149      2006           9                   8
                                          2029152      2006           9                   8

                                                                                      lag_n  \
idx                                                                                      1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  1
                                                   1 2 2001           10                  1
                                                   1 3 2001           10                  1
                                                   1 4 2001           10                  1
                                                   1 5 2001           10                  1
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                   1
                                          2029139      2006           9                   1
                                          2029141      2006           9                   1
                                          2029149      2006           9                   1
                                          2029152      2006           9                   1

                                                                                      lag_yr  \
idx                                                                                       1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2001
                                                   1 2 2001           10                2001
                                                   1 3 2001           10                2001
                                                   1 4 2001           10                2001
                                                   1 5 2001           10                2001
...                                                                                      ...
2029           266      0.00000  0.000000 2029135      2006           9                 2006
                                          2029139      2006           9                 2006
                                          2029141      2006           9                 2006
                                          2029149      2006           9                 2006
                                          2029152      2006           9                 2006

                                                                                      rasterval  \
idx                                                                                          1
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                176.503
                                                   1 2 2001           10                176.503
                                                   1 3 2001           10                176.503
                                                   1 4 2001           10                176.503
                                                   1 5 2001           10                176.503
...                                                                                         ...
2029           266      0.00000  0.000000 2029135      2006           9                      --
                                          2029139      2006           9                      --
                                          2029141      2006           9                      --
                                          2029149      2006           9                      --
                                          2029152      2006           9                      --

                                                                                      lag_m  \
idx                                                                                      2
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  8
                                                   1 2 2001           10                  8
                                                   1 3 2001           10                  8
                                                   1 4 2001           10                  8
                                                   1 5 2001           10                  8
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                   7
                                          2029139      2006           9                   7
                                          2029141      2006           9                   7
                                          2029149      2006           9                   7
                                          2029152      2006           9                   7

                                                                                      lag_n  \
idx                                                                                      2
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                  2
                                                   1 2 2001           10                  2
                                                   1 3 2001           10                  2
                                                   1 4 2001           10                  2
                                                   1 5 2001           10                  2
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                   2
                                          2029139      2006           9                   2
                                          2029141      2006           9                   2
                                          2029149      2006           9                   2
                                          2029152      2006           9                   2

                                                                                       ...  \
idx                                                                                    ...
cluster_number surveyid lat      lon      hhid         reference_year reference_month  ...
1              211      10.84476 2.109562          1 1 2001           10               ...
                                                   1 2 2001           10               ...
                                                   1 3 2001           10               ...
                                                   1 4 2001           10               ...
                                                   1 5 2001           10               ...
...                                                                                    ...
2029           266      0.00000  0.000000 2029135      2006           9                ...
                                          2029139      2006           9                ...
                                          2029141      2006           9                ...
                                          2029149      2006           9                ...
                                          2029152      2006           9                ...

                                                                                      lag_yr  \
idx                                                                                       10
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2000
                                                   1 2 2001           10                2000
                                                   1 3 2001           10                2000
                                                   1 4 2001           10                2000
                                                   1 5 2001           10                2000
...                                                                                      ...
2029           266      0.00000  0.000000 2029135      2006           9                 2005
                                          2029139      2006           9                 2005
                                          2029141      2006           9                 2005
                                          2029149      2006           9                 2005
                                          2029152      2006           9                 2005

                                                                                      rasterval  \
idx                                                                                          10
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2.19528
                                                   1 2 2001           10                2.19528
                                                   1 3 2001           10                2.19528
                                                   1 4 2001           10                2.19528
                                                   1 5 2001           10                2.19528
...                                                                                         ...
2029           266      0.00000  0.000000 2029135      2006           9                      --
                                          2029139      2006           9                      --
                                          2029141      2006           9                      --
                                          2029149      2006           9                      --
                                          2029152      2006           9                      --

                                                                                      lag_m  \
idx                                                                                      11
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 11
                                                   1 2 2001           10                 11
                                                   1 3 2001           10                 11
                                                   1 4 2001           10                 11
                                                   1 5 2001           10                 11
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                  10
                                          2029139      2006           9                  10
                                          2029141      2006           9                  10
                                          2029149      2006           9                  10
                                          2029152      2006           9                  10

                                                                                      lag_n  \
idx                                                                                      11
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                 11
                                                   1 2 2001           10                 11
                                                   1 3 2001           10                 11
                                                   1 4 2001           10                 11
                                                   1 5 2001           10                 11
...                                                                                     ...
2029           266      0.00000  0.000000 2029135      2006           9                  11
                                          2029139      2006           9                  11
                                          2029141      2006           9                  11
                                          2029149      2006           9                  11
                                          2029152      2006           9                  11

                                                                                      lag_yr  \
idx                                                                                       11
cluster_number surveyid lat      lon      hhid         reference_year reference_month
1              211      10.84476 2.109562          1 1 2001           10                2000
                                                   1 2 2001           10                2000

In [34]:
pivoted.columns

MultiIndex([(    'lag_m',  0),
            (    'lag_n',  0),
            (   'lag_yr',  0),
            ('rasterval',  0),
            (    'lag_m',  1),
            (    'lag_n',  1),
            (   'lag_yr',  1),
            ('rasterval',  1),
            (    'lag_m',  2),
            (    'lag_n',  2),
            (   'lag_yr',  2),
            ('rasterval',  2),
            (    'lag_m',  3),
            (    'lag_n',  3),
            (   'lag_yr',  3),
            ('rasterval',  3),
            (    'lag_m',  4),
            (    'lag_n',  4),
            (   'lag_yr',  4),
            ('rasterval',  4),
            (    'lag_m',  5),
            (    'lag_n',  5),
            (   'lag_yr',  5),
            ('rasterval',  5),
            (    'lag_m',  6),
            (    'lag_n',  6),
            (   'lag_yr',  6),
            ('rasterval',  6),
            (    'lag_m',  7),
            (    'lag_n',  7),
            (   'lag_yr',  7),
            ('rasterval',  7),
            (    'lag_m',  8),
            (    'lag_n',  8),
            (   'lag_yr',  8),
            ('rasterval',  8),
            (    'lag_m',  9),
            (    'lag_n',  9),
            (   'lag_yr',  9),
            ('rasterval',  9),
            (    'lag_m', 10),
            (    'lag_n', 10),
            (   'lag_yr', 10),
            ('rasterval', 10),
            (    'lag_m', 11),
            (    'lag_n', 11),
            (   'lag_yr', 11),
            ('rasterval', 11),
            (    'lag_m', 12),
            (    'lag_n', 12),
            (   'lag_yr', 12),
            ('rasterval', 12)],
           names=[None, 'idx'])

In [35]:
pivoted.columns = [f'{x}_{y}' for x,y in pivoted.columns]
pivoted = pivoted.reset_index()
pivoted

,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,lag_m_0,lag_n_0,lag_yr_0,...,lag_yr_10,rasterval_10,lag_m_11,lag_n_11,lag_yr_11,rasterval_11,lag_m_12,lag_n_12,lag_yr_12,rasterval_12
0,1,211,10.84476,2.109562,1 1,2001,10,10,0,2001,...,2000,2.19528,11,11,2000,2.83618,10,12,2000,45.9245
1,1,211,10.84476,2.109562,1 2,2001,10,10,0,2001,...,2000,2.19528,11,11,2000,2.83618,10,12,2000,45.9245
2,1,211,10.84476,2.109562,1 3,2001,10,10,0,2001,...,2000,2.19528,11,11,2000,2.83618,10,12,2000,45.9245
3,1,211,10.84476,2.109562,1 4,2001,10,10,0,2001,...,2000,2.19528,11,11,2000,2.83618,10,12,2000,45.9245
4,1,211,10.84476,2.109562,1 5,2001,10,10,0,2001,...,2000,2.19528,11,11,2000,2.83618,10,12,2000,45.9245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695060,2029,266,0.00000,0.000000,2029135,2006,9,9,0,2006,...,2005,--,10,11,2005,--,9,12,2005,--
695061,2029,266,0.00000,0.000000,2029139,2006,9,9,0,2006,...,2005,--,10,11,2005,--,9,12,2005,--
695062,2029,266,0.00000,0.000000,2029141,2006,9,9,0,2006,...,2005,--,10,11,2005,--,9,12,2005,--
695063,2029,266,0.00000,0.000000,2029149,2006,9,9,0,2006,...,2005,--,10,11,2005,--,9,12,2005,--
695064,2029,266,0.00000,0.000000,2029152,2006,9,9,0,2006,...,2005,--,10,11,2005,--,9,12,2005,--

This gives our final output; save it to csv.
Optionally delete the `lag_n_*`, `lag_m_*`  and `lag_yr_*` columns as once we've checked the logic they are redundant

In [37]:
pivoted.to_csv(os.path.join(_folder,'chirps_output.csv'), index=False)

In [40]:
pivoted.drop(pivoted.filter(regex='lag_n_').columns, axis=1, inplace=True)
pivoted.drop(pivoted.filter(regex='lag_m_').columns, axis=1, inplace=True)
pivoted.drop(pivoted.filter(regex='lag_yr_').columns, axis=1, inplace=True)

In [41]:
pivoted

,cluster_number,surveyid,lat,lon,hhid,reference_year,reference_month,rasterval_0,rasterval_1,rasterval_2,rasterval_3,rasterval_4,rasterval_5,rasterval_6,rasterval_7,rasterval_8,rasterval_9,rasterval_10,rasterval_11,rasterval_12
0,1,211,10.84476,2.109562,1 1,2001,10,17.5411,176.503,279.409,252.868,154.647,122.535,18.9429,3.98381,3.44386,1.85766,2.19528,2.83618,45.9245
1,1,211,10.84476,2.109562,1 2,2001,10,17.5411,176.503,279.409,252.868,154.647,122.535,18.9429,3.98381,3.44386,1.85766,2.19528,2.83618,45.9245
2,1,211,10.84476,2.109562,1 3,2001,10,17.5411,176.503,279.409,252.868,154.647,122.535,18.9429,3.98381,3.44386,1.85766,2.19528,2.83618,45.9245
3,1,211,10.84476,2.109562,1 4,2001,10,17.5411,176.503,279.409,252.868,154.647,122.535,18.9429,3.98381,3.44386,1.85766,2.19528,2.83618,45.9245
4,1,211,10.84476,2.109562,1 5,2001,10,17.5411,176.503,279.409,252.868,154.647,122.535,18.9429,3.98381,3.44386,1.85766,2.19528,2.83618,45.9245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695060,2029,266,0.00000,0.000000,2029135,2006,9,--,--,--,--,--,--,--,--,--,--,--,--,--
695061,2029,266,0.00000,0.000000,2029139,2006,9,--,--,--,--,--,--,--,--,--,--,--,--,--
695062,2029,266,0.00000,0.000000,2029141,2006,9,--,--,--,--,--,--,--,--,--,--,--,--,--
695063,2029,266,0.00000,0.000000,2029149,2006,9,--,--,--,--,--,--,--,--,--,--,--,--,--
695064,2029,266,0.00000,0.000000,2029152,2006,9,--,--,--,--,--,--,--,--,--,--,--,--,--

In [42]:
pivoted.to_csv(os.path.join(_folder,'chirps_output_clean.csv'), index=False)